<p>edit your note now!</p>

<%= form_with model: note, local: true do |f| %>
  <%= render 'shared/object_error', object: f.object %>
  <%= render 'shared/note_entity_error', object: f.object %>

  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :content, "内容" %>
  <% if note.note_entity.is_a?(MarkdownNote) %>
    <div class="md_field">
      <%= f.text_area :content, value: note.note_entity.content %>
    </div>
  <% else %>
    <%= fields_for note.note_entity do |fr| %>
      <div class="rich_field">
        <%= fr.rich_text_area :content, name: "note[content]" %>
      </div>
    <% end %>
  <% end %>

  <%= f.check_box :private %>
  <%= f.label :private, "プライベートにする" %>

  <%= f.submit "更新" %>
<% end %>

<%= link_to note_path(note), method: :delete, data: { confirm: "この投稿を削除しますか？" } do %>
  <i class="fas fa-trash-alt"></i>
<% end %>