<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @note.title %></title>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
  </head>
  <body>
    <div class="pdf-note-title">
      <%= @note.title %>
    </div>
    <div class="note-content-area">
      <% if @note.note_entity.is_a?(MarkdownNote) %>
        <%= render_markdown(@note.note_entity.content) %>
      <% else %>
        <%= @note.note_entity.content %>
      <% end %>
    </div>
  </body>
</html>
