<% provide(:title, "パスワード変更") %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2>パスワード変更</h2>
    <%= form_with(model: current_user, url: users_edit_password_path, local: true) do |f| %>

      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password %>
      
      <%= f.label :password, "新しいパスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "新しいパスワード（確認）" %><br />
      <%= f.password_field :password_confirmation %>

      <%= f.submit "保存", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>