<% provide(:title, "パスワード変更") %>

<div class="row">
  <div class="col-4 offset-4">
    <h2>パスワード変更</h2>
    <%= form_with(model: current_user, url: users_edit_password_path, local: true) do |f| %>
      <%= render "shared/object_error", object: f.object %>

      <%= f.label :current_password, "現在のパスワード" %>
      <%= f.password_field :current_password, class: 'form-control' %>
      
      <%= f.label :password, "新しいパスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "新しいパスワード（確認）" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>