<% provide(:title, "ユーザー登録") %>

<div class="container">
  <div class="col-6 offset-3">
    <h2>ユーザー登録</h2>
    <%= form_with(model: @user, url: user_registration_path, local: true) do |f| %>
      <%= render "shared/object_error", object: f.object %>

      <%= f.label :display_name, "ニックネーム" %>
      <%= f.text_field :display_name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <p><%= link_to "利用規約", terms_path, target: "_blank", rel: "noopener" %> をご確認ください。</p>

      <%= f.submit "登録", class: "btn btn-primary" %>

      <p>または</p>
      <p class="text-center"><%= link_to "Facebookでログイン", "#" %></p>
    <% end %>
  </div>
</div>
