<h2>ログイン</h2>
<div>
  ゲストでログイン
</div>
<%= form_with(model: @user, url: user_session_path, local: true) do |f| %>
  <%= f.text_field :email, class: 'form-control', placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
  <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>
  <%= f.submit "ログイン", class: "btn btn-primary" %>
<% end %>
<p class="text-center">または</p>
<p class="text-center"><%= link_to "Facebookでログイン", "#" %></p>
<p class="text-center">
  アカウントをお持ちではないですか？
  <%= link_to "新規登録", new_user_registration_path %>
</p>
