<header class="navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to Constants::SITE_NAME, root_path %>
    </div>
    <ul class="navbar-nav navbar-right">
      <% if user_signed_in? %>
        <div class="navbar-form">
          <%= form_with url: search_notes_path, class: "form-inline", method: :post, local: true do |f| %>
            <%= f.search_field :searchkey, class: "form-control", placeholder: "キーワード検索", required: true %>
            <%= f.button class: "search-icon" do %>
              <i class="fas fa-search"></i>
            <% end %>
          <% end %>
        </div>
        <li class="nav-item">
          <%= link_to "新規ノート", new_note_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to notifications_path, class: "nav-link" do %>
            通知&nbsp;
            <% if current_user.unread_notifications_length > 0 %>
              <span class="badge badge-dark"><%= current_user.unread_notifications_length %></span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.display_name %><b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "プロフィール", user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to "アカウント設定", edit_user_registration_path, class: "dropdown-item" %></li>
            <li class="dropdown-divider"></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</header>
