<div class="list-and-view">
  <div class="left-pane">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="mynotes-tab" data-toggle="tab" href="#mynotes">
          <i class="fas fa-book-reader"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="bookmarks-tab" data-toggle="tab" href="#bookmarks">
          <i class="fas fa-bookmark"></i>
        </a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane show active" id="mynotes">
        <%= render 'notes/list', notes: notes %>
      </div>
      <div class="tab-pane" id="bookmarks">
        <%= render 'notes/list', notes: bookmarked_notes %>
      </div>
    </div>
  </div>
  <div class="right-pane">
    <% case mode %>
    <% when Constants::MODE_BUILDER %>
      <%= render 'notes/builder', note: note %>
    <% when Constants::MODE_EDITOR %>
      <%= render 'notes/editor', note: note %>
    <% else # Constants::MODE_VIEWER expected %>
      <% if note.nil? %>
        <%= render 'notes/none' %>
      <% else %>
        <%= render 'notes/viewer', note: note %>
      <% end %>
    <% end %>
  </div>
</div>
